/**
  https://caniuse.com/#feat=css-variables

  element {
    background-color: var(--main-bg-color);
  }
*/

:root {
  --color-primary: #12425d;
  --color-primary-lighter: #2269a0;
  --color-primary-darker: #12425d;
  --color-secondary: #da0f32;
  --color-secondary-darker: #a5122b;

  --color-text: rgb(0, 0, 21);
  --color-label: rgba(0,0,21,.5);
   /* #343a40; */
  /* --color-text-darker: #424950;
  --color-text-lighter: #666c72;
  --color-text-darker: #18364a;  */
  /* #18364a */

  /* --color-label: #858fa2; */
  /* rgba(0,0,21,.5) */
  --color-placeholder: #bec3ce;
  --color-border: #ebeff0;
  --border-normal: 1px solid #ebeff0;
  --border-darker: 1px solid #d3d9db;

  --content-empty: " ";

  --height-header: 3.5rem;
  /* --height-header-mobile: 3rem; */
  /* --height-nav-mobile: 3rem; */

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  /* --primary: #007bff;
  --secondary: #6c757d; */
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;  /* 1024px */
  --breakpoint-xl: 1200px;

  --padding-horizontal-lg: 1.25rem;
  --padding-horizontal-xl: 3rem;
  --font-family-main: 'Titillium Web', Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto', Helvetica, sans-serif;

}